<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regestration</title>
</head>

<body>
    <form action="/register" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" placeholder="Enter user name" required>
        <input type="password" id="password1" placeholder="Enter password" required>
        <input type="password" id="password2" placeholder="Confirm password" required>
        <input type="number" placeholder="Enter your registration number" required>
        <input type="text" placeholder="Enter your mobile number" required>
        <input type="text" placeholder="Enter your email id" required>
        <button type="submit">Submit your details</button>
    </form>
</body>
<script>
    let password1 = document.getElementById('password1');
    let password2 = document.getElementById('password2');
    if (password1.value !== password2.value)
        alert('Please check your password field')
</script>

</html>